.container {
  background-color: #18181B;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  color: white;
  background-color: #18181B;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #f43f5e;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  transition: 0.8s;
  filter: drop-shadow(7px 3px 29px);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 3px solid #f43f5e;
  border-radius: 30px;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 10px 5px 15px #f43f5e;
}

.card:hover,
.card:focus,
.card:active {
  color: #f43f5e;
  border-color: #f43f5e;
  transition: 0.8s;
  filter: drop-shadow(5px 3px 35px);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}
.footer {
  color: white;
  width: 100%;
  height: 100px;
  border-top: 3px solid #f43f5e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  color: #f43f5e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  transition: 0.8s;
  color: #f43f5e;
  border-color: #f43f5e;
  filter: drop-shadow(5px 3px 35px);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
